version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    labels:
      - dependencies
      - go

  - package-ecosystem: pip
    directory: "/lab/py"
    schedule:
      interval: weekly
    labels:
      - dependencies
      - python

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - dependencies
      - ci
